---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

<p></p>

<ul>
  {% assign publications = site.data.publications %}
  {% for pub in publications %}
  <li>
      <a href="{{ pub.link }}" target="_blank" style="text-decoration: none;">
      {{ pub.title }}
      </a><br>
      {{ pub.authors}}<br> <!-- Escape to ensure valid rendering -->
      {{ pub.venue }}{% if pub.abbreviation %} (<strong><em>{{ pub.abbreviation }}</em></strong>){% endif %}, {{ pub.year }}<br>
      {% if pub.code %}
      <a href="{{ pub.code }}" target="_blank">[Code]</a>
      {% endif %}
  </li>
  {% endfor %}
</ul>